@model NumberGuessingGame.Models.SecretNumber

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SecretNumberVIew</title>
</head>
<body>
    <div>
        <h1>THE SECRET NUMBER</h1>
        <h2>En spännande gissningslek skriven i ASP MVC</h2>
        <p>Det hemliga talet är ett tal mellan 1 och 100!</p>
        <p>Din uppgift är att gissa rätt, du har sju försök på dig!</p>
        <p>Gissar du på ett tal du redan gissat på tidigare räknas inte den gissningen! Lycka till!</p>
        <form>
            <input type="text" name="guess" />
            <input type="button" name="guessbutton" value="Gissa!" />
        </form>
    </div>
</body>
</html>
