@model NumberGuessingGame.ViewModel.SecretNumberViewModel

@{
    ViewBag.Title = "Börja gissa!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.SecretNumber.CanMakeGuess == true)
{
    <div>
        @using (Html.BeginForm("NewGuess", "NumberGuessingGame"))
        {
            @Html.AntiForgeryToken()
            @Html.LabelFor(model => Model.Guess)
            @Html.TextBoxFor(model => Model.Guess);
            <input type="submit" name="NewGuess" value="Gissa!" />
        }
    </div>
}
else
{
    {Html.RenderPartial("GameOver", Model);}  
}
@{Html.RenderPartial("PreviousGuesses", Model);}