@model NumberGuessingGame.ViewModel.SecretNumberViewModel

@if(Model.SecretNumber.GuessedNumbers != null)
{
    <p>
        <b>Antal gissningar:</b> @Model.SecretNumber.Count<br />
        <b>Tidigare gissningar:</b>
    </p>
    
    <td>
        @foreach (var Guess in Model.SecretNumber.GuessedNumbers)
        {
            <tr>
                <p>@Guess.Number. Denna gissning är @Guess.Outcome</p>
            </tr>
        }
    </td>
}
